<h1>Pages#info</h1>
<p>Find me in app/views/pages/info.html.erb</p>

<table>
<tr><td>名前</td><td>dr</td></tr>
<tr><td>誕生日</td><td>１２月３日</td></tr>
<tr><td>年齢</td><td>知らない </td></tr>
<tr><td>住まい</td><td>押入れ</td></tr>
<tr><td>好きな歌手</td><td>知らない</td></tr>
<tr><td>好きな食べ物</td><td>どら焼き</td></tr>
<tr><td>好きなこと</td><td>のび太の教育</td></tr>
<tr><td>好きな人</td><td>ミーちゃん</td></tr>
</table>
